/* CSS Custom Properties Definitions */

@font-face {
  font-family: "Noe Display";
  src: url("./Noe\ Display/noe-display-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Noe Display";
  src: url("./Noe\ Display/NoeDisplay-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Noe Display";
  src: url("./Noe\ Display/NoeDisplay-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39309.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39310.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39302.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39303.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39297.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39298.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39304.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39305.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39306.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39307.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39295.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url("./Gill\ Sans\ Nova/39296.otf");
  font-weight: 700;
  font-style: italic;
}

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-half: 60rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-half);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "Gill Sans Nova", Lato, sans-serif;
  --fontFamily-serif: "Noe Display", "PT Serif", Cambria, serif;
  --fontFamily-body: "Times New Roman", "Georgia", Times, serif;
  --fontWeight-extralight: 200;
  --fontWeight-light: 300;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: var(--fontSize-2);
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #2b2b2b;
}

::selection {
  color: white;
  background-color: #74846c;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  font-family: var(--fontFamily-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  margin: 0;
  /* overflow-x: hidden; */
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

form {
  margin: var(--spacing-2) var(--spacing-0);
}

/* Heading */

h1 {
  font-family: var(--fontFamily-serif);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-family: var(--fontFamily-sans);
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-4);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-4);
  color: var(--color-heading-black);
  text-transform: uppercase;
}

h3 {
  font-family: var(--fontFamily-serif);
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-2);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-3);
  color: var(--color-heading-black);
}

h4 {
  font-family: var(--fontFamily-sans);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-0);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-2);
  color: var(--color-heading-black);
}

h5 {
  font-family: var(--fontFamily-sans);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-0);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  font-weight: var(--fontWeight-medium);
  font-size: var(--fontSize-1);
  color: var(--color-heading-black);
}

h6 {
  font-family: var(--fontFamily-body);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-0);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-1);
  color: var(--color-heading-black);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none !important;
  color: var(--color-heading-black);
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  text-decoration: none;
  color: #74846c;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  /* --baseline-multiplier: 0.179; */
  /* --x-height-multiplier: 0.35; */
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: inside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

table {
  width: 100%;
  /* margin: var(--spacing-8) 0; */
  border-collapse: collapse;
  border-spacing: 0.25rem;
  position: relative;
  font-family: var(--fontFamily-sans) !important;
  /* top: 20rem; */
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

table td {
  padding: var(--spacing-2);
}

tbody > tr:first-child {
  background-color: black!important;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: #ececec;
}

/* Link */

a {
  color: inherit;
  word-break: break-word;
  text-decoration: none;
}

a:hover,
a:active {
  color: #74846c;
  text-decoration: underline;
}

.articleBody a,
.refs a,
.figs a,
.default-page a,
.info-section a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.articleBody a:hover,
.articleBody a:active,
.refs a:hover,
.refs a:active,
.figs a:hover,
.figs a:active,
.default-page a:hover .default-page a:active,
.info-section a:hover,
.info-section a:active {
  text-decoration: underline;
}

button,
input[type="submit"] {
  cursor: pointer;
}

label:hover {
  cursor: text;
}

/* Custom classes */

.global-layout {
  position: relative;
  padding-bottom: var(--maxWidth-md);
  min-height: 100vh;
}

.global-wrapper {
  display: flex;
  margin: var(--spacing-0) auto;
  flex-flow: column;
  align-items: center;
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-wrapper > header,
.global-wrapper > article {
  max-width: var(--maxWidth-wrapper);
  padding: 0 var(--spacing-8);
  width: 100%;
}

.global-header {
  position: sticky;
  top: var(--spacing-0);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-2) var(--spacing-32);
  background-color: black;
  margin-bottom: var(--spacing-2);
  width: 100vw;
  max-width: 100%;
  height: var(--spacing-12);
  z-index: 100;
  margin-bottom: 0;
}

.header-logo {
  height: 100%;
  width: auto;
  margin-right: var(--spacing-2);
}

.menu-items {
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.menu-label {
  color: white;
  font-family: var(--fontFamily-sans);
  text-transform: uppercase;
  padding: 0 var(--spacing-2);
  font-size: var(--fontSize-0);
  border-right: 1pt solid var(--color-accent);
  cursor: pointer;
}

.menu-label:last-of-type {
  border: none;
}

.menu-label > a {
  text-decoration: none;
  height: 100%;
}

.global-header h1,
.global-header h2 {
  font-family: var(--fontFamily-sans);
  font-weight: 300;
  margin: 0;
  color: white;
}

.global-header h1 {
  font-size: var(--fontSize-5);
}

.global-header h2 {
  font-size: var(--fontSize-4);
}

.global-header a {
  color: white;
}

.global-header a:hover,
.global-header a:active {
  color: #74846c;
}

.main-heading {
  margin: var(--spacing-6) 0 var(--spacing-2) 0;
  max-width: var(--maxWidth-full);
}

.header-link-home {
  display: flex;
  font-weight: var(--fontWeight-bold);
  font-family: var(--fontFamily-sans);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.blog-post {
  display: flex;
  flex-flow: row wrap;
}

.blog-post > *:nth-child(1) {
  flex: 1 1 30%;
}

.blog-post > *:nth-child(2) {
  flex: 1 1 70%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--fontFamily-sans);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.article-header {
  display: inline-block;
  max-width: var(--maxWidth-wrapper);
  margin-bottom: var(--spacing-8);
}

.article-header .provisional #vol {
  border: none;
  padding: 0;
  margin-top: var(--spacing-4);
}

.authors {
  font-size: var(--fontSize-1);
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-medium);
}

.affiliations {
  font-size: var(--fontSize-0);
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-normal);
}

/* Custom components */
.tabs-component {
  position: sticky;
  top: var(--spacing-12);
  height: calc(100vh - var(--spacing-12));
}

/* .sidebarwrapper {
} */

.tabs {
  list-style: none;
  display: flex;
  /* flex-flow: row nowrap; */
  margin: var(--spacing-0);
  width: 100%;
}

.tabs > li {
  margin: var(--spacing-0);
  padding: var(--spacing-2) var(--spacing-4);
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-light);
  font-size: var(--fontSize-1);
  color: var(--color-heading-black);
  background-color: #ececec;
  width: 100%;
  /* height: var(--spacing-8); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  color: white !important;
  background-color: #74846c !important;
  font-weight: var(--fontWeight-normal) !important;
}

/* .active:hover {
  color: white !important;
} */

/* .tabs > li:first-of-type {
  border-left: none !important;
}

.tabs > li:last-of-type {
  border-right: none !important;
} */

.tabs a {
  color: inherit;
  background-color: inherit;
}

.tabs a:hover,
.tabs a:active {
  background-color: inherit;
}

.active a:hover {
  text-decoration: none;
}

figcaption {
  text-align: left!important;
  font-size: var(--fontSize-0)!important;
  font-family: var(--fontFamily-sans);
  font-weight: 300;
}

.gatsby-image-wrapper {
  padding: var(--spacing-2);
}

.gatsby-image-wrapper > *[aria-hidden="true"] {
  display: none;
}

.wp-block-image {
  padding: var(--spacing-4);
  background-color: #ececec;
}

.wp-block-image img {
  height: auto!important;
}

.fig-container {
  padding: var(--spacing-4);
  margin: var(--spacing-4) 0;
}

.fig-container > figure > *:first-child {
  padding: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.fig-container > figure {
  width: 100%;
  margin: var(--spacing-0) 0;
  text-align: center;
}

.fig-container img {
  max-width: 85%;
}

.fig-small:hover {
  cursor: pointer;
}

.fig-container figcaption {
  width: 100%;
  /* color: #74846c; */
}

.figcaption-leader {
  color: black;
}

figcaption > p {
  display: inline;
}

.fig-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  height: calc(100vh - var(--spacing-12));
  width: 100vw;
  top: var(--spacing-12);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-4);
}

.fig-modal ::-webkit-scrollbar {
  background: none;
}

.fig-modal ::-webkit-scrollbar-thumb {
  background: #ececec;
}

.fig-modal-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-height: var(--maxWidth-2xl);
  max-width: var(--maxWidth-wrapper);
}

.fig-modal-img-container {
  /* margin: var(--spacing-12); */
  max-height: 75%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.fig-modal-img-container img,
.fig-modal-img-container table {
  height: 100%;
  object-fit: cover;
}

.fig-modal-caption {
  display: flex;
  flex-flow: column nowrap;
  /* margin: var(--spacing-12); */
  min-width: 50%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 var(--spacing-4);
}

.fig-modal-caption-wrapper {
  border-bottom: 1pt solid white;
  height: 100%;
  width: 100%;
}

.fig-modal-caption-title {
  width: 100%;
  color: white;
  font-family: var(--fontFamily-sans);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fontSize-4);
  text-transform: uppercase;
}

.fig-modal-caption-text {
  color: white;
  font-size: var(--fontSize-1);
  width: 100%;
  height: 100%;
  padding-bottom: var(--spacing-4);
  margin-bottom: 0;
  overflow-y: scroll;
}

.fig-modal-caption-text p {
  color: white !important;
  font-size: var(--fontSize-1) !important;
}

.fig-modal-caption > button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: var(--fontSize-2);
}

.fig-modal-caption > button:hover,
.fig-modal-caption > button:active {
  color: red;
}

.show-table {
  text-transform: uppercase;
}

.page-numbers {
  text-align: center;
  list-style: none;
}

.page-number {
  font-family: var(--fontFamily-sans);
  color: #74846c;
  background-color: #ececec;
  border: 1pt solid #74846c;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin: 0 1rem;
}

.page-number:hover {
  font-family: var(--fontFamily-sans);
  color: white;
  background-color: #74846c;
  border: 1pt solid #74846c;
}

.page-number > a,
.page-number > a:hover {
  text-decoration: none;
}

.page-number > a:hover {
  color: white;
}

.global-footer {
  color: white;
  font-family: var(--fontFamily-sans);
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: var(--maxWidth-sm);
  justify-content: flex-end;
  /* z-index: 0; */
}

.footer-bg-content {
  background-color: #74846c;
  text-align: center;
  height: 100%;
  padding: var(--spacing-4) 0;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--spacing-32);
}

.footer-wrapper > * {
  padding: 0 var(--spacing-2);
}

.footer-wrapper h4 {
  color: white;
  gap: var(--spacing-12);
}

.footer-logo {
  max-width: 16rem;
  height: auto;
}

.footer-card {
  flex: 1 1 30%;
  text-align: left;
  padding-top: var(--spacing-4);
}

.footer-card > h3 {
  max-width: 16rem;
  color: white;
}

.footer-connect {
  text-align: left;
  list-style: none;
  list-style-position: outside;
  height: 100%;
  margin: 0;
  flex: 1 1 30%;
}

.contact-info {
  font-weight: var(--fontWeight-light);
}

.contact-info > a:hover,
.contact-info > a:focus,
.contact-info > a:active {
  color: white;
  text-decoration: underline;
}

.contact-info[key="address"] {
  list-style: georgian; /* Address icon */
}

.contact-info[key="facebook"] {
  list-style: upper-latin; /* Facebook icon */
}

.contact-info[key="twitter"] {
  list-style: square; /* Twitter icon */
}

.contact-info[key="linkedin"] {
  list-style: circle; /* LinkedIn icon */
}

.footer-contact {
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 40%;
  height: 100%;
  margin: 0;
}

.footer-contact > section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-bottom: var(--spacing-4);
  align-items: flex-start;
}

.footer-contact label {
  text-align: right;
  padding-right: var(--spacing-4);
  display: inline-block;
  width: fit-content;
  font-weight: var(--fontWeight-light);
}

.footer-contact input[type="text"],
.footer-contact textarea {
  color: white;
  display: inline-block;
  width: calc(100% - var(--spacing-32));
  background: none;
  border: none;
  border-bottom: 1pt solid white;
  font-weight: var(--fontWeight-light);
}

textarea[name="message"] {
  height: var(--spacing-32);
  resize: none;
}

.footer-contact input[type="text"]:hover,
.footer-contact textarea:hover {
  border-bottom: 2pt solid white;
}

.footer-contact input[type="text"]:active,
.footer-contact input[type="text"]:focus,
.footer-contact textarea:active,
.footer-contact textarea:focus {
  color: black;
  background: white;
  outline: none;
  border-bottom: 2pt solid white;
}

.footer-contact input[type="text"]:hover,
.footer-contact input[type="text"]:active,
.footer-contact input[type="text"]:focus {
  margin-bottom: -1pt;
}

.footer-contact input[type="submit"] {
  background-color: #74846c;
  color: white;
  width: fit-content;
  align-self: flex-end;
  border: 1pt solid #ececec;
  padding: var(--spacing-3) var(--spacing-2);
}

.footer-contact input[type="submit"]:hover,
.footer-contact input[type="submit"]:active {
  background-color: #ececec;
  color: #74846c;
  border: 1pt solid #ececec;
}

.footer-bg-credits {
  font-size: var(--fontSize-0);
  background-color: black;
  font-weight: var(--fontWeight-light);
  color: white;
  padding: var(--spacing-1) 0;
}

.footer-bg-credits a {
  color: white;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.footer-bg-credits a:hover,
.footer-bg-credits a:active {
  text-decoration: underline;
  text-decoration-style: solid;
}

/* HOME PAGE */
.home-banner {
  width: 100vw;
}

/* .home-body {
  max-width: var(--maxWidth-wrapper);
} */

.index-menu {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: var(--spacing-4) 0;
}

.index-link {
  flex-basis: 100%;
  text-decoration: none !important;
  color: inherit;
  margin: var(--spacing-4);
}

.index-link:hover {
  text-decoration: none !important;
}

.index-card {
  font-family: var(--fontFamily-sans);
  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-medium);
  background-color: white;
  border: 1.5pt #74846c solid;
  text-decoration: none;
  /* margin: var(--spacing-2); */
  padding: var(--spacing-6);
  width: 100%;
  /* min-width: 30%; */
  vertical-align: top;
  height: 16rem;
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.index-link:first-of-type > .index-card {
  background-image: url("../../content/assets/19304086221580121299.png");
}

.index-link:nth-of-type(2) > .index-card {
  background-image: url("../../content/assets/3429287321580121303.png");
}

.index-link:last-of-type > .index-card {
  background-image: url("../../content/assets/document-file-archive-data-work-paper-office-svgrepo-com.png");
}

.index-link:first-of-type > .index-card:hover {
  background-image: url("../../content/assets/doc-white.png");
}

.index-link:nth-of-type(2) > .index-card:hover {
  background-image: url("../../content/assets/desktop-white.png");
}

.index-link:last-of-type > .index-card:hover {
  background-image: url("../../content/assets/archive-light.png");
}

.index-card:hover,
.index-card:focus,
.index-card:active {
  color: white;
  background-color: #74846c;
  text-decoration: none !important;
  border: 1.5pt #74846c solid;
}

/* BROWSE PAGE */
.browse-section {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  padding: 0 var(--spacing-4);
  display: flex;
  justify-content: center;
}

.browse-section-wrapper {
  max-width: var(--maxWidth-wrapper);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}

.backgrounded {
  background-color: #ececec;
}

.issue-big {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.issue-big > *:nth-child(1) {
  flex: 1 1 40%;
}

.issue-big > *:nth-child(2) {
  flex: 1 1 60%;
  padding: var(--spacing-4);
}

.issue-main {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.issue-main > *:nth-child(1) {
  flex: 1 1 75%;
}

.issue-main > *:nth-child(2) {
  flex: 1 1 25%;
}

.image-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.current-issue-title {
  font-weight: var(--fontWeight-light);
}

.current-issue-title > a:hover,
.current-issue-title > a:active {
  text-decoration: none;
}

.cover {
  width: 100%;
  height: auto;
}

.issue-block {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex: 0 1 33%;
  padding: var(--spacing-4);
}

.issue-display {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: var(--spacing-4) var(--spacing-2);
  /* padding: var(--spacing-8); */
  /* margin: var(--spacing-4) var(--spacing-8); */
  /* border: 1pt red solid; */
}

.issue-display .cover {
  width: 10rem;
}

.issue-display:hover,
.issue-display:active {
  text-decoration: none;
  color: white !important;
  background-color: #ececec;
}


.issue-display:hover h3,
.issue-display:active h3,
.issue-display:hover h5,
.issue-display:active h5 {
  color: #74846c;
}

/* ISSUE TEMPLATE */
.issue-header {
  /* top: calc(var(--spacing-12) * -1); */
  /* height: var(--maxWidth-sm); */
  min-height: fit-content;
  width: 100vw;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--spacing-4);
}

.issue-title {
  padding: var(--spacing-4);
  height: 100%;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  max-width: var(--maxWidth-wrapper);
  text-align: left;
  width: 100%;
}

.issue-header h1 {
  color: white;
  font-size: 5rem;
  margin-top: var(--spacing-4);
  white-space: normal;
}

.pub-date {
  color: white;
  font-family: var(--fontFamily-sans);
  font-size: 3rem;
}

.issue-header h4 {
  color: white !important;
}

.issue-header a {
  color: white;
  text-decoration: none;
}

.article-card {
  padding: var(--spacing-4) 0;
}

.article-card > h3 {
  margin: var(--spacing-2) 0;
}

.article-card-button {
  background: none;
  border: none;
  font-family: var(--fontFamily-sans);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-light);
  text-transform: uppercase;
  border-right: 1pt solid black;
  padding: 0 var(--spacing-2);
}

button.article-card-button:hover,
button.article-card-button:active {
  color: #74846c;
}

#pubDate {
  padding-left: 0;
}

.copy-cite {
  border: none !important;
}

.abstract-modal {
  font-size: var(--fontSize-0);
  padding: var(--spacing-2) var(--spacing-4);
}

.abstract-modal-button {
  border-bottom: 1pt solid black;
}

.open-abstract-modal {
  width: 100%;
  text-align: center;
  border: none;
}

.issue-team {
  position: relative;
  top: -5rem;
  right: -1rem;
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* justify-content: space space-around; */
  color: white;
  background-color: #74846c;
  padding: var(--spacing-8);
  margin-left: var(--spacing-8);
  min-width: 14rem;
}

.issue-team h2 {
  color: white;
  font-size: var(--fontSize-2);
  margin: var(--spacing-4) var(--spacing-2);
}

.issue-team li {
  font-family: var(--fontFamily-sans);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-light);
  list-style: none;
  margin-left: var(--spacing-2);
}

/* BLOG POST TEMPLATE */

/* .article {
  display: flex;
} */

.metadata {
  background-color: #ececec;
  border-top: solid 2pt #74846c;
  padding: var(--spacing-2) var(--spacing-4);
  font-family: var(--fontFamily-sans);
  font-size: var(--fontSize-0);
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  overflow-wrap: break-word;
  margin-top: 0;
}

.metadata h2,
.metadata h3 {
  font-size: var(--fontSize-2);
  font-family: var(--fontFamily-sans);
  text-transform: uppercase;
  margin-top: var(--spacing-2);
}

.metadata h4,
.metadata h5,
.metadata h6 {
  font-family: var(--fontFamily-serif);
  margin-top: var(--spacing-1);
}

.vol-info {
  display: flex;
  max-width: var(--maxWidth-full);
  align-items: flex-start;
}

.vol-info > p {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.metadata .cover {
  max-width: 40%;
  height: auto;
  margin-right: var(--spacing-4);
}

.sidebar-issue-info {
  /* margin-bottom: 0!important; */
  height: 100%;
}

.vol-header {
  font-size: var(--fontSize-4);
  text-transform: uppercase;
  margin-bottom: var(--spacing-3);
  line-height: var(--fontSize-5);
}

.m-header {
  font-size: var(--fontSize-1);
  color: var(--color-heading-black);
  font-weight: var(--fontWeight-normal);
  margin-bottom: var(--spacing-3);
}

.info-section {
  margin-top: var(--spacing-4);
}

.metadata p {
  color: #74846c;
  font-weight: var(--fontWeight-light);
  margin-bottom: var(--spacing-4);
  font-size: var(--fontSize-0);
}

/* .metadata p:last-of-type {
  margin-bottom: var(--spacing-0);
} */

.metadata ol,
.metadata ul {
  font-weight: var(--fontWeight-light);
  margin-left: var(--spacing-4);
  text-align: justify;
  text-justify: distribute;
}

.metadata figure {
  margin: var(--spacing-4) var(--spacing-0);
  display: block;
  max-width: 100%;
  height: auto;
}

.metadata figcaption {
  width: var(--maxWidth-full);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-light);
}

.dark {
  background-color: #74846c;
  color: #ececec;
  border: solid 0.5pt #74846c;
  padding: var(--spacing-2);
  font-family: var(--fontFamily-sans);
}

.dark:hover,
.dark:active {
  background-color: #ececec;
  color: #74846c;
}

.refs ol {
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-light);
  font-size: 0.75rem;
  color: var(--color-accent);
}

section[itemprop="articleBody"] {
  max-width: var(--maxWidth-xl);
  padding: 0 var(--spacing-4);
}

section[itemprop="articleBody"] p {
  text-align: justify;
  text-justify: distribute;
}

.p-leader {
  font-variant: small-caps;
}

.acknowledgement {
  font-style: italic;
  font-weight: var(--fontWeight-bold);
  border-top: solid 2pt black;
}

/* ABOUT US */

.editorial-board {
  display: flex;
  max-width: var(--maxWidth-full);
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.editor {
  margin: var(--spacing-4);
  width: 16rem;
  /* border: 1pt red solid; */
  text-align: center;
}

.img-cropper {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  /* border: 1pt solid red; */
  display: inline-block;
}

.headshot {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.editor-details span {
  display: block;
}

.editor-name {
  font-family: var(--fontFamily-sans);
  text-transform: uppercase;
  font-weight: var(--fontWeight-light);
  font-size: var(--fontSize-2);
}

.editor-title {
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-medium);
  font-size: var(--fontSize-1);
}

/* Media queries */

@media (max-width: 1440px) {
  .global-header {
    padding: var(--spacing-2) var(--spacing-8);
  }

  .footer-wrapper {
    padding: 0 var(--spacing-8);
  }
  
  .sidebar-wrapper {
    display: none;
  }

  .articleBody {
    flex-basis: 100%!important;
    max-width: 100%!important;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }

  h1, h2 {
    margin-top: var(--spacing-2)!important;
  }

  .header-logo {
    margin: 0;
  }

  #header-logo-text {
    display: none;
  }

  .global-layout {
    padding-bottom: var(--maxWidth-2xl);
  }

  .global-wrapper > header,
  .global-wrapper > article,
  .global-footer > * {
    padding: 0 var(--spacing-4);
    /* max-width: var(--maxWidth-full); */
  }

  .footer-card {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .footer-logo {
    margin-top: var(--spacing-2);
    max-height: var(--spacing-20);
  }

  .footer-card > h3 {
    display: none;
  }

  .footer-contact,
  .footer-connect {
    width: 50%;
  }

  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }

  ul,
  ol {
    list-style-position: inside;
  }

  .provisional {
    display: inline-flex !important;
  }

  .provisional ol {
    list-style-position: inside;
  }

  .menu-items,
  .footer-connect,
  .sidebar-wrapper,
  .footer-bg-credits {
    display: none;
  }

  .global-header {
    justify-content: space-between;
    align-items: center;
  }

  .header-link-home {
    width: fit-content;
    height: var(--spacing-8);
  }

  .footer-wrapper,
  .issue-big,
  .index-menu {
    flex-flow: column nowrap;
  }

  .index-link {
    margin: var(--spacing-2);
  }

  .index-card {
    height: 10rem;
    background-position: bottom right;
    background-size: 40%;
  }

  .latest-articles > h3 {
    font-size: 2rem;
  }

  .article-options {
    text-align: center;
  }

  .footer-contact,
  .footer-contact input,
  .footer-contact textarea {
    width: 100% !important;
  }

  .footer-contact > section {
    flex-flow: column nowrap;
  }

  .article-resp,
  .hero-buttons,
  .article-resp .fig-modal-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .article-resp .fig-modal-img-container {
    overflow-y: initial;
    margin-bottom: var(--spacing-4);
  }

  .article-resp .fig-modal {
    overflow-y: scroll;
  }

  .article-resp .fig-container {
    font-family: var(--fontFamily-sans);
    padding: var(--spacing-4) 0;
  }

  .article-resp figcaption {
    font-size: var(--fontSize-0);
  }

  .article-resp .fig-modal-caption-title {
    font-size: var(--fontSize-1);
  }

  .article-resp .fig-modal-caption-text,
  .article-resp .fig-modal-caption > button {
    font-size: var(--fontSize-0);
  }

  .hero-buttons {
    justify-content: space-around;
    align-items: center;
  }

  .issue-big {
    align-items: center;
  }

  .cover.issue {
    max-height: 32rem;
  }

  .cover.special {
    max-height: 24rem;
  }

  .browse-section-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .issue-main {
    flex-flow: column-reverse;
  }

  .issue-team {
    display: flex;
    flex-flow: column nowrap;
    /* position: static; */
    width: 100vw;
    justify-content: flex-start;
    align-content: flex-start;
    /* max-height: var(--maxWidth-md); */
    margin-left: 0;
    top: 0;
    right: 0;
    left: calc(-1 * var(--spacing-4));
    padding: 0 var(--spacing-4) var(--spacing-6) var(--spacing-4);
  }

  .issue-team > section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: var(--spacing-2);
  }

  .issue-team > section > li {
    flex: 0 1 15%;
    white-space: nowrap;
  }

  .hamburger-menu {
    background-color: #000000dd;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    left: 0;
    top: var(--spacing-0);
    height: 100vh;
    width: 100vw;
    /* padding: var(--spacing-32) 0; */
  }

  .hamburger-menu .menu-label {
    font-size: var(--fontSize-3);
    text-align: center;
    vertical-align: middle;
    flex: 0 1;
    padding: var(--spacing-5) 0;
  }

  .hamburger-menu .menu-label:active {
    background-color: #74846cdd;
  }

  .hamburger-menu > a {
    display: block;
  }

  .hamburger-menu > a:hover,
  .hamburger-menu > a:active {
    text-decoration: none;
  }

  .global-header,
  .footer-wrapper {
    padding: var(--spacing-2);
  }

  footer h4 {
    padding-right: var(--spacing-3);
  }

  .open-hamburger {
    background: none;
    border: none;
    color: white;
  }

  .open-hamburger > svg {
    height: 100%;
  }

  .footer-connect {
    width: 100%;
    flex-flow: column nowrap;
  }

  .contact-info {
    height: 100%;
    padding: var(--spacing-3) var(--spacing-2);
  }

  .contact-info svg {
    height: 24px;
    width: 24px;
  }

  .latest-articles {
    padding: 0 var(--spacing-2);
  }

  .blog-post {
    display: block;
  }
}

@media (max-width: 720px) {
  .browse-section-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .article-card-button {
    font-size: 0.75rem;
  }
}
